:root {
  --font-exo: "Exo 2", sans-serif;
  --font-pt: "PT Mono", monospace;
  --font-size: calc(12px + 4 * (100vw / 1440));
  --font-weight: 400;
  --line-height: 32px;
  --space-size: 16px;
  --color-white: #fafafa;
  --color-black: #212121;
  --color-light: #eceff1;
  --color-dark: #263238;
  --color-accent: #ff5722;
  --transition: calc(1s / 8);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: var(--color-light);
  font-family: var(--font-pt);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  color: var(--color-dark);
}

.decoration {
  position: relative;
  z-index: -1;
}

.decoration__image {
  position: absolute;
  top: var(--space-size);
  right: var(--space-size);
  width: 580px;
  height: 640px;
  background-image: url(/img/xl-1.svg), url(/img/xl-2.svg);
  background-repeat: no-repeat;
  z-index: -1;
}

.grid {
  min-height: 100vh;
  padding: 0px var(--space-size);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  align-items: center;
}

header {
  padding: var(--space-size);
  display: grid;
  grid-template-columns: calc(6 * var(--space-size)) auto;
  grid-template-rows: auto;
  align-items: center;
  justify-items: left;
}

.header__logo {
  margin-bottom: 0px !important;
}

.main {
  padding: var(--space-size);
}

section {
  margin-bottom: var(--space-size);
}

footer {
  padding: var(--space-size);
}

footer > p {
  font-size: 0.85rem;
}

h1,
h2,
h3 {
  font-weight: var(--font-weight);
  color: var(--color-dark);
  margin-bottom: var(--space-size);
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

a {
  font-family: var(--font-exo);
  text-decoration: none;
  color: var(--color-dark);
  transition: var(--transition);
}

a:hover {
  color: var(--color-accent);
  transition: var(--transition);
}

.portfolio__project--link:hover {
  color: var(--color-white);
  background-color: var(--color-accent);
  padding: 4px 8px;
  transition: var(--transition);
}

@media (max-width: 319px) {
  .decoration {
    display: none;
  }
}

@media (min-width: 320px) {
}

@media (min-width: 568px) {
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
}
@media (min-width: 1280px) {
}
