:root {
  --font-exo: "Exo 2", sans-serif;
  --font-pt: "PT Mono", monospace;
  --font-size: 16px;
  --font-weight: 400;
  --line-height: 1.75;
  --space-size: 16px;
  --color-light: #eceff1;
  --color-dark: #263238;
  --color-accent: #ff5722;
  --transition: calc(1s / 8);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: var(--font-pt);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  color: var(--color-dark);
}

.grid {
  min-height: 100vh;
  padding: 0px var(--space-size);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  align-items: center;
}

header {
  padding: var(--space-size);
  display: grid;
  grid-template-columns: calc(6 * var(--space-size)) auto;
  grid-template-rows: auto;
  align-items: center;
  justify-items: left;
}

.main {
  padding: var(--space-size);
}

section {
  margin-bottom: var(--space-size);
}

footer {
  padding: var(--space-size);
}

footer > p {
  font-size: 0.85rem;
}

.bgdecor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

h1,
h2,
h3 {
  font-weight: var(--font-weight);
  color: var(--color-dark);
  margin-bottom: var(--space-size);
}

header h1 {
  margin-bottom: 0px !important;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

a {
  font-family: var(--font-exo);
  text-decoration: none;
  color: var(--color-dark);
  transition: var(--transition);
}

a:hover {
  color: var(--color-accent);
  transition: var(--transition);
}

.project-link:hover {
  color: var(--project-link-hover-color);
  background-color: var(--color-accent);
  padding: 4px 8px;
  transition: var(--transition);
}

@media (min-width: 0px) and (max-width: 319px) {
  :root {
    --font-size: 14px;
    --space-size: 14px;
  }

  .bgdecor {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 567px) {
  :root {
    --font-size: 14px;
    --space-size: 14px;
  }

  .bgdecor {
    display: none;
  }
}

@media (min-width: 568px) and (max-width: 767px) {
}

@media (min-width: 768px) and (max-width: 1023px) {
}

@media (min-width: 1024px) and (max-width: 1280px) {
}
